header.mainPage {
  text-align: center;
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

header .container{
  padding-top: 240px;
}

.intro-text{
  font-family: 'Arvo';
  position: relative;
  display: inline-block;
  font-size: 37px;
  font-weight: 900;
}

.intro-arrow-text {
  font-family: 'Arvo', 'Open Sans';
}

.underline{
  position: absolute;
  transform-origin: 0 50%;
  left: 0;
  top: 0;
  width: 0;
  margin-left: 6.2%;
}

.intro-heading{
  font-size: 5em;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a.intro-scroll-text{
  margin-top: 9%;
  display: inline-block;
  color: #fff;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: opacity .3s;
}

 @media (max-width: 1000px){
  header .container{
    padding-top: 100px;
  }
  
  .width-check-1{
    padding: 0 20px 0 20px;
  }

  .width-check-2{
    padding: 0 85px 0 85px;
  }
}

@media (max-width: 600px){
  .intro-text{
    font-size: 30px
  }

  .intro-heading{
    padding: 0;
    font-size: 50px
  }
}

a.intro-scroll-text:hover{
  color: #eaeaea;
  text-decoration: none;
  opacity: .5;
}

a.intro-scroll-text span{
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

a.intro-scroll-text span::after{
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

/* @media (min-width:){
  
} */

.projectsPage{
  width: 100wh;
  height: 100vh;
  background-color: black;
}
