body{
	background-color: #fff;
}

.logo{
	margin-right: 4%;
	margin-bottom: 4%;
	margin-top: 4%;
	width: 70px;
	float: left;
}

.head-right{
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: normal;
	float: right;
	margin-right: 6%;
}

h1{
	margin-bottom: 1%;
}

h2, h3, h4, h5{
	margin: 0px;
}

h5{
	font-size: 3.5vw;
	font-weight: bold;
}

header{
	border-bottom: 1px solid #808080;
	margin-bottom: 2%;
}

p.right{
	float: right;
	font-family: monospace;
}

.description p{
	font-family: "Titillium Web", sans-serif;
	font-size: 2.6vw;
	margin-bottom: 0px;
}

.container{
	width: 90%;
}

img[id^="tile"] + figcaption, label.label-tile{
	font-family: "Montserrat", sans-serif;
	font-size: medium;
	margin-top: 4%;
}

figure[id^="col-tile"]{
	cursor: pointer;
}

img[id^="tile"]{
	max-height: 80%;
	max-width: 100%;
}

img[id^="tile"]:hover{
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

img[id^="content-tile"]{
	opacity: 0.8;
	max-width: 100%;
}

.tile{
	max-height: 80%;
	max-width: 100%;
}

.tiles{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col{
	text-align: center;
	margin: 4%;
	width: 150px;
	height: 150px;
}

.content-box{
	max-width: 100%;
	background: black;
	padding-left: inherit;
	padding-right: inherit;
}

article.description{
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	height: 45%;
	width: 100%;
	color: #fff;
	padding: 0.5em;
}

@media screen and (min-width: 800px){
	body{
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	.logo{
		margin: 2%;
	}
}

@media screen and (max-width: 440px){
	.col{
		margin: 2%;
	}
}

@media screen and (min-width: 650px){
	.description p{
		font-size: 16px;
	}

	h5{
		font-weight: normal;
		font-size: 25px;
	}
}
